This file is part of CPA-Daemon,
a gRPC frontend for CPAchecker:
https://gitlab.com/sosy-lab/software/cpa-daemon/

{% for copyright_line in copyright_lines %}
{{ copyright_line }}
{% endfor %}

{% for expression in spdx_expressions %}
SPDX-License-Identifier: {{ expression }}
{% endfor %}
